# PyPI trusted publisher config will need an update if this file is renamed.
# See: https://docs.pypi.org/trusted-publishers/adding-a-publisher/

name: release
on:
  workflow_dispatch: null
  release:
    types: [ published ]
jobs:
  pypi-release:
    environment: pypi-release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Python deps
        run: pip install wheel

      - name: Build the package
        run: make build
        env:
          LINODE_METADATA_VERSION: ${{ github.event.release.tag_name }}

      - name: Publish the release artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # pin@release/v1.13.0
